.adv-search {
  padding-top: 55px;
  font-family: $roboto;
  color: $text-dark;

  &__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    &:before {
      position: absolute;
      content: "Advanced Search";
      top: -55px;
      left: 13px;
      font-size: 28px;
      line-height: 32px;
      font-weight: 600;
    }
  }

  &__form-block {
    flex: 0 1 24%;
    padding-bottom: 0px;
    margin: 0;
    border: none;

    &:first-child {
      flex-basis: 17%;
    }

    &:nth-child(2) {
      flex-basis: 25%;
    }

    &:nth-child(3) {
      flex-basis: 17%;
    }

    &:nth-child(4) {
      flex-basis: 17%;
    }

    &:nth-child(5) {
      flex-basis: 9%;
      padding-top: 23px;
    }
  }

  &__min-max-fieldset {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__label {
    display: block;
  }

  &__min-max-fieldset &__label {
    display: inline-block;
    width: 40%;
    white-space: nowrap;

    &:first-child {
      float: left;
    }

    &:nth-child(2) {
      position: relative;
      float: right;

      &:before {
        position: absolute;
        content: "to";
        top: 30px;
        left: calc(-25% - 7px);
      }
    }
  }

  &__input {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &__select {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__btn {
    margin: 0 auto;
    // margin-top: 15px;
  }
}
