.collection {
  padding-top: 55px;
  font-family: $roboto;
  font-size: 18px;
  line-height: 24px;
  color: $text-dark;

  &__list {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:before {
      position: absolute;
      content: "Best Movies";
      top: -55px;
      left: 0;
      font-size: 28px;
      line-height: 32px;
      font-weight: 600;
    }
  }

  &__item {

  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background: lighten($light, 30%);
  }

  &__item:nth-child(2n) &__link {
    background: lighten($main, 53%);
  }

  &__item-title {
    position: relative;
    flex: 0 1 auto;
    display: inline;
    padding-right: 20px;
  }

  &__item-tooltip {
    padding: 3px !important;
    line-height: 0 !important;
    background: $dark !important;
  }

  &__item-date {
    padding-left: 10px;
    font-size: 14px;
  }

  &__item-rating {
    flex: 0 1 auto;
  }
}
