.header {
  color: $text-light;
  background: $dark;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 0 1 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10%;
    font-family: $caviar;
    font-size: 26px;
    line-height: 26px;
    background: $main;

    @media #{$mq-sm} {
      margin-right: 3%;
    }
  }

  &__navbar {
    flex: 0 1 auto;
  }
}
