.search {
  margin-bottom: 30px;

  &__wrap {
    text-align: center;
  }

  &__input {
    padding: 10px 10px;
    width: 200px;
    font-family: $roboto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border-bottom: 2px solid $dark;
    transition: width 0.6s ease, border 0.8s ease;

    &:focus {
      width: 100%;
      border-bottom: 2px solid $main;
    }
  }

  &__input:focus + &__input-icon {
    display: none !important;
  }

  &__input-icon {
    position: relative;

    &:after {
      position: absolute;
      content: "\e986";
      font-family: "icomoon";
      font-size: 16px;
      top: -1px;
      left: -148px;
      color: $text-dark;
    }
  }
}
