@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto-regular.woff2') format('woff2'),
         url('assets/fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('assets/fonts/caviardreams.woff2') format('woff2'),
         url('assets/fonts/caviardreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('assets/icons/icomoon.eot?psg0zq');
  src: url('assets/icons/icomoon.eot?psg0zq#iefix') format('embedded-opentype'),
       url('assets/icons/icomoon.ttf?psg0zq') format('truetype'),
       url('assets/icons/icomoon.woff?psg0zq') format('woff'),
       url('assets/icons/icomoon.svg?psg0zq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-image:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e986";
}
