html, body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $light;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  list-style: none;
}

input {
  color: $text-dark;
  background: $light;
  border: none;
  outline: none;
}

.input {
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border: 1px solid lighten($dark, 40%);
  border-radius: 3px;
  background: white;
}

::-webkit-input-placeholder { color: $text-dark; }
::-moz-placeholder          { color: $text-dark; }
:-ms-input-placeholder      { color: $text-dark; }
input:-moz-placeholder      { color: $text-dark; }

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus::-moz-placeholder          { color: transparent; }
input:focus:-ms-input-placeholder      { color: transparent; }
input:focus:-moz-placeholder           { color: transparent; }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.wrap {
  margin: 0 auto;
  width: 80%;

  @media #{$mq-sm} {
    width: 90%;
  }
}

.btn {
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 4px;
  color: $text-light;
  text-transform: uppercase;
  background: lighten($main, 20%);
  outline: none;

  &:hover {
    box-shadow: 0 0 5px lighten($main, 13%);
  }

  &:active {
    background: lighten($main, 13%);
  }
}

.loading-icon {
  padding-top: 40px;
  text-align: center;
}

// react-select
.Select {
  &-control {
    border: 1px solid lighten($dark, 40%);
  }

  &-placeholder {
    color: $text-dark;
  }

  &--single .Select-multi-value-wrapper .Select-value {
    background: none;
  }

  & .Select-value {
    background: lighten($main, 40%);
    color: $text-dark;
  }

  & .Select-value-label {
    color: $text-dark !important;
  }

  & .Select-menu-outer {
    background: lighten($main, 40%);
  }

  & .Select-value-icon:hover {
    color: $text-light;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.is-focused:not(.is-open) > .Select-control {
  box-shadow: 0 0 0 3px rgba(0, 126, 255, 0.1);
  border-color: lighten($main, 20%);
}
