// colors
$black: #0a1612;
$grey: #c5c1c0;
$text-dark: #34495e;
$text-light: #ecf0f1;

// media queries
$mq-sm: "(max-width: 767px)";
$mq-md: "(min-width: 768px) and (max-width: 1023px)";
$mq-lg: "(min-width: 1024px)";
